<!DOCTYPE html>

<html>
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="index.css">
  <style type="text/css">
   nav ul{padding-top:10px;}
   nav ul li {
   display:inline;
   border-left:1px solid #999;
   padding:0 10px;
   }
   nav ul li:first-child{border-left:none;}
   </style>

  <title>bottle Shop</title>
 </head>

 <body>
  <nav class="navbar navbar-default navbar-top" role="navigation">
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul id="info" style="padding:0" class="nav navbar-nav">
     <li class="menu-item"><a href="#">Login</a></li>
	 <li class="menu-item"><a href="#">회원가입</a></li>
     <li class="menu-item"><a href="#">고객센터</a></li>
	 <li class="menu-item"><a href="#">mypage</a></li>
	<ul>
   </div>
  </nav>

    <a href="http://localhost:3000">
    <img src="pic1.jpg" style="width: 300px;"></a>
     
   <h1>
    <form action="http://localhost:3000" method="GET">
     <input type="text"style="width: 400px;">
     <input type="submit" value="검색">
    </form>
   </h1>

   <nav class="navbar navbar-default navbar-top" role="navigation">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <ul id="Al" style="padding:0" class="nav navbar-nav">
      <li class="menu-item"><a href="#">Wine</a></li>
	  <li class="menu-item"><a href="#">Whisky</a></li>
      <li class="menu-item"><a href="#">Vodka</a></li>
	  <li class="menu-item"><a href="#">Brandy/Cognac</a></li>
	  <li class="menu-item"><a href="#">전통주</a></li>
	 </ul>
